<div class="page-header">
  <h1>Edit <%= @wiki.title %></h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for wikis</p>
    <ul>
      <li>The first rule of Blocipedia is don't talk about Blocipedia.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
</div>


<!-- <div class="page-header">
  <h1>
    Edit "<%= @wiki.title %>"
  </h1>
  <%= truncate(@wiki.body, length: 15) { link_to "View full wiki...", @wiki } %>
</div>

<%= render 'form' %> -->
