<div>
  <h1>
    <%= @wiki.title %> <br>
    <% if @wiki.private == true %>
      <span class="label label-warning">Private</span>
    <% end %>
    <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.username %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
</div>
<% if user_is_authorized_for_wiki?(@wiki) %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-info' %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>
