<div class="container">
  <% if policy(@wiki).show? %>
    <div class="row">
      <div class="col-md-8">
        <div>
          <%= @wiki.title %> <br>
          <% if @wiki.private == true %>
            <span class="label label-warning">Private</span>
          <% end %>
          <small>
            submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.username %>
          </small>
        </div>
        <hr>
        <div class="row">
          <p><%= markdown(@wiki.body) %></p>
        </div>
      </div>
      <div class="col-md-4">
        <% if policy(@wiki).update? %>
          <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-info' %>
        <% end %>
        <% if policy(@wiki).destroy? %>
          <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
